header {
  font-family: "Ubuntu", sans-serif;
  font-size: 52px;
  text-align: center;
  background-color: #2196f3;
  color: #ffffff;
}

h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 42px;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-size: 32px;
}

h3 {
  font-family: "Roboto Mono", monospace;
  font-size: 24px;
  color: #212121;
}

h4 {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  color: #212121;
}

span {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  color: #212121;
}

footer {
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  text-align: center;
  color: #212121;
}

.container {
  background-color: #e0e0e0;
}

.currentweather {
  font-family: "Roboto Mono", monospace;
  font-size: 42px;
  background-color: #2196f3;
  color: #ffffff;
  display: block;
}

.btn-primary {
  background-color: #ffeb3b;
  color: #212121;
  border: #ffeb3b;
}

.btn-secondary-f {
  background-color: #212121;
  color: whitesmoke;
  border: #212121;
}
.btn-secondary-c {
  background-color: #212121;
  color: whitesmoke;
  border: #212121;
}

#temperature {
  margin-left: 20px;
}
#city-name {
  margin-left: 20px;
}
#description {
  margin-left: 20px;
}
